---
import type { CollectionEntry } from 'astro:content';
// components
import Heading from '@/ui/Heading.astro';
import Link from '@/ui/Link.astro';
import FormattedDate from '../ui/FormattedDate.astro';
import { getEntry } from 'astro:content';

type Props = {
    post: CollectionEntry<"blog">;
    tagName: "h2" | "h3";
}

const { post, tagName } = Astro.props;
const {title, description, image, pubDate, slug} = post.data;

const author = await getEntry(post.data.author.collection , post.data.author.id)
---
<article aria-label={title} class="blog-card">
    <img src={image.src} width={400} height={225} alt="">
    <div class="rows">
        <Heading tagName={tagName} tagSize='h3'>{title}</Heading>
        <div class="columns">
            <FormattedDate {pubDate} />
            {author && <small>by {author.id}</small> }
        </div>
        <p>{description}</p>
        <Link href={`/blog/${slug}`}>Read Post</Link>
    </div>
</article>